<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>管理者ログイン</title>
</head>
<body>
    <h1>管理者ログイン</h1>
    <form th:action="@{/admin/signin}" th:object="${signinForm}" method="post">
        <!-- CSRFトークンを含める -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <table border="1">
            <tr>
                <td>メールアドレス</td>
                <td>
                    <input type="text" th:field="*{email}">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></span>
                </td>
            </tr>
            <tr>
                <td>パスワード</td>
                <td>
                    <input type="password" th:field="*{password}">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></span>
                </td>
            </tr>
        </table>
        <input type="submit" value="ログイン">
        <div th:if="${error}" style="color: red">
            <p th:text="${error}"></p>
        </div>
    </form>
</body>
</html>
